<mat-card class="parent">
  <mat-card-header>
    <mat-card-title>
      <h1>Education</h1>
    </mat-card-title>
  </mat-card-header>
  <div  class="divider">
    <mat-divider></mat-divider>
  </div>
  <mat-card-content>
    <div class="card" *ngFor="let degree of degrees">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="header-image" [ngStyle]="{'background-image': 'url(' + degree.Image + ')'}"></div>
          <mat-card-title>
            {{degree.Major}}
          </mat-card-title>
          <mat-card-subtitle>
            {{degree.DegreeType}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <!-- <a href={{degree.Website}} target="_blank">{{degree.School}}</a> -->
          <a mat-raised-button color="accent" href={{degree.Website}} target="_blank">View College</a>
        </mat-card-content>
        <mat-card-actions align="end">
          {{degree.GraduationDate}}
        </mat-card-actions>
      </mat-card>  
    </div>
  </mat-card-content>
</mat-card>