.card {
    margin-bottom: 2%;
}

h1{
    font-weight: bold;
    font-size: larger;
}

.divider{
    padding-bottom: 2%;
    margin-bottom: 2%;
}

.parent{
    background-color: rgb(245,245,245);
    border: solid black .5px;
}

a {
    text-decoration: none;
    color: white;
}

.footer {
    float: right;
    font-size: small;
    margin: 2%;
}

.header-image{
    background-size: cover;
}

a{
    margin: auto;
    display: block;
    max-width: 66%;
}

@media (max-width: 720px){
    .parent{
        border: none;
        border-top: solid black .5px;
        border-bottom: solid black .5px;
        border-radius: 0;
    }
    
}