<mat-card>
  
</mat-card>

<div class="card border-warning mb-3">
  <div class="card-header">
    <h2>Project List</h2>
  </div>
  <ul class="list-group">
    <li *ngFor="let project of projects; let i = index;" [ngClass]="{'bg-warning text-white' : project == currentProject}" class="list-group-item d-flex justify-content-between align-items-center" (click)="setSelectedProject(i)">
      <h5>{{project.Title}}</h5>
    </li>
  </ul>
  <p class="hint">*Click on project to learn more</p>
</div>
