<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="menu" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="item" routerLink="/home">Home</span>
  <span class="item" routerLink="/projects">Projects</span>
  <span class="item" routerLink="/about">About</span>
  <span class="item" routerLink="/contact">Contact</span>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home">Home</button>
    <button mat-menu-item routerLink="/projects">Projects</button>
    <button mat-menu-item routerLink="/about">About</button>
    <button mat-menu-item routerLink="/contact">Contact</button>
  </mat-menu>
  <span class="spacer"></span>
  <h3>Jordan Rayne Everett</h3>
</mat-toolbar>