.spacer {
    flex: 1 1 auto;
  }

.item {
    justify-content: flex-start;
}

.header {
    margin: 0 20 0 20;
}

span {
    padding: .5%;
}

.item:hover {
    cursor: pointer;
}

.menu {
    display: none;
}

@media (max-width: 640px){
    .item{
        display: none;
    }
    .menu{
        display: inline;
    }
}