<div class="container">
    <div class="image-container">
        <img class="image" autofocus src="../../assets/Headshot.jpg"/>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="description">
        <p><span id="capital">H</span>ello! My name is Jordan Everett and I am a college graduate from Southeastern
            Oklahoma State University where I received my Bachelor's degree in Computer Science with
            a minor in music.</p>
            <p>
                I'm currently a Tier 3 Information Systems Engineer primarily working with a B-Tree database for a healthcare system. My primary responsibilities in my current position is to establish 
                new application servers, make sure that our primary health database is in a good state, and maintain and standardize the use of good and modern security protocols throughout our domain.
            </p>
            <p>My active career goal is to switch paths into the software development world. I would like to become a full stack developer since I'm familiar with both front end and back end development.
                I have done some development work in my current position using Intersystems Objectscript, otherwise known as MUMPS, on the back end and C# for the front end. I have also worked on developing a REST API 
                using Intersystems Objectscript and developing an Angular front-end application to coordinate with it.
            </p> 
            
    </div>
</div>

<div class="mobile">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="header-image" [ngStyle]="{'background-image': 'url(../../assets/Headshot.jpg)'}"></div>
            <mat-card-title style="font-size: larger;">
                <h1>About</h1>
            </mat-card-title>
        </mat-card-header>
        <hr />
        <mat-card-content>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let a of about; first as isFirst" [expanded]="isFirst">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{a.Title}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{a.Description}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    {{a.Content}}
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
</div>