.mobile{
    display: none;
}

img{
    width: 100%;
    height: 100%;
}

p{
    font-size: 20px;
}

#capital{
    font-size: 28px;
    font: Comic Sans MS;
}

.image-container {
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.image {
    border: solid black 1px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
}

.description {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description p {
    padding: 2%;
    align-items: flex-start;
}

.container{
    display: flex;
    background-color: rgb(245,245,245);
    border: solid black .5px;
    border-radius: 2px;
    gap: 2%;
    margin: 2%;
}

.header-image{
    background-size: cover;
}

@media(max-width:1028px)
{
    .mobile {
        margin: 2%;
        display: inline;
    }

    .image-container{
        padding: 0%;
        display: block;
        align-items: inherit;
        justify-content: inherit;
    }

    .container {
        display: none;
    }
    .image{
        border: none;
    }

    .card{
        background-color: rgb(245,245,245);
        border: solid black .5px;
    }
    
}

@media(max-width: 720px)
{
    .card{
        border: none;
        border-top: solid black .5px;
        border-bottom: solid black .5px;
        border-radius: 0;
    }

    .mobile{
        border: none;
        border-top: solid black .5px;
        border-bottom: solid black .5px;
        border-radius: 0;
    }
}