<mat-card class="experience">
    <mat-card-header>
        <mat-card-title>
            <h1 class="title">Experience</h1>
        </mat-card-title>
        <mat-card-subtitle>
            <mat-tab-group mat-align-tabs="start" (selectedTabChange)="selectJob($event)" [selectedIndex]="index">
                    <mat-tab *ngFor="let job of jobs" label="{{job.Title}}"></mat-tab>
            </mat-tab-group>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="header-image" [ngStyle]="{'background-image': 'url(' + currentJob.Image + ')'}"></div>
                <mat-card-title>
                    {{currentJob.Title}}
                </mat-card-title>
                <mat-card-subtitle>
                    {{currentJob.Start}} - {{currentJob.End}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h3>Description</h3>
                {{currentJob.Description}}
                <hr />
                <h3>Job Responsibilities</h3>
                <ul *ngFor="let task of currentJob.Tasks">
                    <li>
                        {{task}}
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>