.header-image{
    background-size: cover;
}

h3{
    font-weight: bold;
}

.experience {
    background-color: rgb(245,245,245);
    border: solid black .5px;
}

.title {
    font-weight: bold;
    font-size: larger;
}


@media(max-width: 720px)
{
    mat-tab-group{
        padding-right: 65%;
    }

    .experience{
        border: none;
        border-top: solid black .5px;
        border-bottom: solid black .5px;
        border-radius: 0;
    }
}
