<mat-card class="card">
  <mat-card-header>
      <mat-card-title>
        <h1 class="title">Projects</h1>
      </mat-card-title>
      <mat-card-subtitle>
        <mat-tab-group mat-align-tabs="start" (selectedTabChange)="selectProject($event)" [selectedIndex]="index"> 
                <mat-tab *ngFor="let project of projects" label="{{project.Title}}"></mat-tab>
        </mat-tab-group>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{currentProject.Title}}
        </mat-card-title>
        <mat-card-subtitle>
          Status: {{currentProject.Status}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h2>Details</h2>
        <hr />
        <ul *ngFor="let details of currentProject.Details">
          <li>
            {{details}}
          </li>
        </ul>
      </mat-card-content>
      <mat-card-actions align="end">
        <a *ngIf="currentProject.Git" mat-raised-button color="accent" href={{currentProject.Git}} target="_blank">View Git Repository</a>
        <a *ngIf="currentProject.Url" mat-raised-button color="primary" href={{currentProject.Url}} target="_blank">View Project</a>
      </mat-card-actions>
    </mat-card>
  </mat-card-content>
</mat-card>
