.card {
  background-color: rgb(245,245,245);
  border: solid black .5px;
  margin: 2%;
}

.title {
  font-weight: bold;
  font-size: larger;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

a {
  color: white;
  text-decoration: none;
}

@media(max-width: 720px)
{
  .card{
    margin: 0;
    margin-top: 2%;
    border: none;
    border-top: solid black .5px;
    border-radius: 0;
    border-bottom: solid black .5px;
  }
}