<!-- <mat-toolbar color="primary">
        <span class="spacer"></span>
        <div *ngFor="let info of contact" class="item">
            <div mat-card-avatar class="header-image" style="background-image: url({{info.Image}})" matTooltipPosition="above" matTooltip={{info.Value}} (click)="goTo(info)"></div>
        </div>
</mat-toolbar> -->

<mat-card class="card">
    <mat-card-header>
        <mat-card-title>
            <h1 class="title">
                Contact Information
            </h1>
        </mat-card-title>
    </mat-card-header>
    <hr />
    <mat-card-content>
        <div class="container">
            <div *ngFor="let info of contact" class="container">
                    <mat-card-header>
                        <div mat-card-avatar class="header-image" style="background-image: url({{info.Image}})"></div>
                        <mat-card-title>
                            {{info.Type}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            <div *ngIf="info.Type!=='Email'; else elseBlock">
                                <a href={{info.Value}} target="_blank">{{info.Value}}</a>
                            </div>
                            <ng-template #elseBlock>
                                <p>{{info.Value}}</p>
                            </ng-template>
                        </mat-card-subtitle>
                    </mat-card-header>
            </div>
        </div>
    </mat-card-content>
</mat-card>