.display-3{
    text-align: center;
}

h2{
    text-decoration: underline;
}

h2, h4{
    text-align: center;
}

a {
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1%;
}

.item{
    flex: 1;
}

// .item{
//     margin-right: 1%;
//     margin-left: 1%;
// }

.spacer{
    flex: 1 1 auto;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-image{
    background-size: cover;
}

.outline{
    border: solid #2196F3 2px;
    border-radius: 2%;
}

.formOutline{
    border: solid #ff9800 2px;
    border-radius: 2%;
}

.title{
    font-size: larger;
    font-weight: bold;
}

.card{
    margin: 2%;
    background-color: rgb(245,245,245);
    border: solid black .5px;
}

@media(max-width: 720px)
{
    .container{
        display: block;
    }
    .card{
        margin: 2% 0 0 0;
        border: none;
        border-top: solid black .5px;
        border-bottom: solid black .5px;
        border-radius: 0;
    }
}