.taskBox{
  border: solid #2196F3 1px;
  border-radius: 5px;
  padding: 10px;
  padding-top: 25px;
}

.title{
  font-size: larger;
  font-weight: bold;
  margin: 2%;
}

.divider{
  padding-bottom: 2%;
  margin-bottom: 2%;
}

.card {
  background-color: rgb(245,245,245);
  border: solid black .5px;
}
