<!-- <div class="card border-primary mb-3">
  <h2 class="title card-header">{{currentProject.Title}}</h2>
  
  <a href={{currentProject.Url}} target="_blank" class="title card-header">{{currentProject.Title}}</a>
  <div class="card-body">
      <h5>Details</h5>
      <div class="taskBox">
          <ul *ngFor = "let details of currentProject.Details">
              <li>
                  {{details}}
              </li>
          </ul>
      </div>
      <br/>
      <h5>
        Git Repository
      </h5>
      <div class="taskBox">

        <ul>
          <li>
            <a href="{{currentProject.Git}}" target="_blank">{{currentProject.Git}}</a>
          </li>
        </ul>
      </div>
      <p class="hint">*Click on project title to go to the project site</p>
  </div>
</div> -->
