<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      <h1 class="title">Skills</h1>
    </mat-card-title>
  </mat-card-header>
  <div class="divider">
    <mat-divider></mat-divider>
  </div>
  <mat-card-content>
    <div class="container">
        <ul *ngFor="let skill of skills" class="column">
          <li>
            {{skill.Name}}
          </li>
        </ul>
    </div>
  </mat-card-content>
</mat-card>