.column{
    flex: 1;
    flex-basis: auto;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.divider{
    padding-bottom: 2%;
    margin-bottom: 2%;
}

.card {
    background-color: rgb(245,245,245);
    border: solid black .5px;
}

.title {
    font-size: larger;
    font-weight: bold;
}

@media(max-width: 720px)
{
    .card{
        border: none;
        border-top: solid black .5px;
        border-bottom: solid black .5px;
        border-radius: 0;
    }
}