.body{
  height: 95vh;
}

.content{
  padding-bottom: 2%;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media(max-width: 1280px)
{
  .content{
    padding-bottom: 5%;
  }
}

@media(max-width: 950px)
{
  .content{
    padding-bottom: 10%;
  }
}