<div [title]="tooltip">
    <img [hidden] = "rating < 1" src="../assets/star.png">
    <img [hidden] = "rating < 2" src="../assets/star.png">
    <img [hidden] = "rating < 3" src="../assets/star.png">
    <img [hidden] = "rating < 4" src="../assets/star.png">
    <img [hidden] = "rating < 5" src="../assets/star.png">
    <img [hidden] = "rating > 4" src="../assets/star-grey.png">
    <img [hidden] = "rating > 3" src="../assets/star-grey.png">
    <img [hidden] = "rating > 2" src="../assets/star-grey.png">
    <img [hidden] = "rating > 1" src="../assets/star-grey.png">
</div>
