<div class="container">
    <app-experience class="experience"></app-experience>
    <div class="education">
        <app-education></app-education>
        <div class="spacer"></div>
        <app-skills></app-skills>
    </div>
</div>