.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2%;
    margin: 2%;
}

.experience {
    flex: 3;
}

.education {
    flex: 1;
}

.spacer{
    margin: 1%;
    padding: 1%;
}

@media(max-width:1028px)
{
    .container{
        display: block;
    }

    .education{
        margin-top: 1%;
        padding-top: 1%;
        flex: none;
    }

    .experience{
        flex: none;
    }
}

@media(max-width: 720px)
{
    .container{
        overflow-x: hidden;
    }
}